<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="robots" content="noindex">
  <title>DeepLearningJS - Neural Networks</title>

	<script src="js/angular.min.js"></script>
	<script src="js/ng-webworker.min.js"></script>
	<script src="js/angular-file-saver.bundle.min.js"></script>
	<script src="js/NeuralNetwork.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div ng-app="DeepLearning">
				<div ng-controller="NeuralNetworksController">
					<br/><br/>
					<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					  <li class="nav-item">
						<a class="nav-link active" id="pills-data-tab" data-toggle="pill" href="#pills-data" role="tab" aria-controls="pills-data" aria-selected="true">Data</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-training-tab" data-toggle="pill" href="#pills-training" role="tab" aria-controls="pills-training" aria-selected="false">Training</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-classify-tab" data-toggle="pill" href="#pills-classify" role="tab" aria-controls="pills-classify" aria-selected="false">Classify</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-network-tab" data-toggle="pill" href="#pills-network" role="tab" aria-controls="pills-classify" aria-selected="false">Network</a>
					  </li>
					</ul>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">
							<div class="container border border-secondary rounded">
								<b>select file</b><br/>
								<input type="file" multiple name="files" filelist-bind class="btn btn-outline-secondary" ng-disabled = "Training" /><br/><br/>
								<b>delimiters</b><br/>
								<select class="form-control" ng-model="delimiter" data-ng-options="x for x in DelimiterNames" ng-change="SelectDelimeter()" ng-disabled = "Training"></select><br/>
								<input type="button" class="btn btn-outline-primary" value="Process data" ng-click="ReadTrainingData()" ng-disabled = "Training"/><br/><br/>
								<textarea ng-model = "fileContent" rows="4" cols="60" style = "resize: none;" readonly ></textarea>
								<br/><br/>
								<div class="{{Items == 0 && Inputs == 0 && Categories == 0 ? 'alert alert-danger' : 'alert alert-success' }}" role="alert">
									<span><b>Items</b>: {{Items}} <b>Input features</b>: {{Inputs}} <b>Categories</b>: {{Categories}}</span>
								</div>
							</div>
							<br/>
						</div>
						<div class="tab-pane fade" id="pills-training" role="tabpanel" aria-labelledby="pills-training-tab">
							<div class="container border border-secondary rounded">
								<div class="row">
									<div class="col-sm-3">
										<b>Hidden layers</b><br ng-show = "HiddenLayerNodes.length > 0"/><br/>
										<ul class="list-group">
											 <li class="list-group-item" ng-repeat="nodes in HiddenLayerNodes track by $index" class="">Layer {{$index + 1}} -> {{nodes}}<br/><input type="button" class = "btn btn-outline-danger" value = " remove " ng-click="RemoveHiddenLayer($index)" ng-disabled = "Training" /></li>
										</ul>
										<br/>
										<input type="button" class = "btn btn-outline-danger" value="Clear" ng-click="RemoveAllHiddenLayers()" ng-show = "HiddenLayerNodes.length > 0" ng-disabled = "Training"/>
										<br ng-show = "HiddenLayerNodes.length > 0"/><br ng-show = "HiddenLayerNodes.length > 0"/>
										<div>
											<b>Nodes</b>&nbsp;<input class = "form-control" type="number" ng-model = "hiddenLayerNodes" name="hiddenLayerNodes" min="2" max="1024" value = "{{hiddenLayerNodes}}" /><br/>
											<input type="button" class = "btn btn-outline-success" value="add hidden layer" ng-click="AddHiddenLayer()" ng-disabled = "Training" />
										</div>
										<br/>
									</div>
									<div class="col-sm-3">
										<b>Learning rate (&alpha;)</b><br/>
										<input class = "form-control" type="number" ng-model = "LearningRate" name="LearningRate" min="0.01" max="10" step = "0.01" value = "{{LearningRate}}" ng-disabled = "Training" /><br/><br/>
										<b>Epochs</b><br/>
										<input class = "form-control" type="number" ng-model = "Epochs" name="Epochs" min="100" max="1000000" step = "100" value = "{{Epochs}}" ng-disabled = "Training" /><br/><br/>
										<b>Tolerance</b><br/>
										<input class = "form-control" type="number" ng-model = "Tolerance" name="Tolerance" min="0.00001" max="1" step = "0.00001" value = "{{Tolerance}}" ng-disabled = "Training" /><br/><br/>
									</div>
									<div class="col-sm-3">
										<br/>
										<progress class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" ng-show = "TrainingProgress > 0 && TrainingProgress < 1" value="{{TrainingProgress}}"></progress><br/ ng-show = "TrainingProgress > 0 && TrainingProgress < 1">
										<input type="button" class="btn btn-outline-primary" value="Train Network" ng-click="AsyncTrainer()" ng-disabled = "Training" ng-show = "!Training"/><br ng-show = "!Training"/><br ng-show = "!Training"/>
										<input ng-show = "Training" type="button" class="btn btn-outline-danger" value="Stop" ng-click="StopAsyncTrainer()" /><br/><br/>
									</div>
									<div class="col-sm-3" ng-show = "TrainingProgress > 0.0">
										<b>Training Results</b><br/><br/>
										<b>Training Error</b><br/>
										<span>{{Network.Cost}}</span><br/><br/>
										<b>L2 Error</b><br/>
										<span>{{Network.L2}}</span><br/><br/>
										<b>Iterations</b><br/>
										<span>{{Network.Iterations}}</span><br/><br/>
									</div>
								</div>
							</div>
							<br/>
						</div>
						<div class="tab-pane fade" id="pills-classify" role="tabpanel" aria-labelledby="pills-classify-tab">
							<div class="container border border-secondary rounded">
								<b>select file</b><br/>
								<input type="file" multiple name="files" testfile-bind class="btn btn-outline-secondary" ng-disabled = "Training" /><br/><br/>
								<input type="button" class="btn btn-outline-primary" value="Process data" ng-click="ReadTestData()" ng-disabled = "Training"/><br/><br/>
								<div class = "row">
									<div class = "col-sm">
										<b>Test data</b><br/>
										<textarea ng-model = "testContent" rows="4" cols="60" style = "resize: none;" readonly></textarea>
										<br/><br/>
										<div class="{{Samples == 0 || Inputs == 0 ? 'alert alert-danger' : 'alert alert-success' }}" role="alert">
											<span><b>Samples</b>: {{Samples}} <b>Input features</b>: {{Inputs}}</span>
										</div>
									</div>
									<div class = "col-sm">
										<b>Classification</b><br/>
										<textarea ng-model = "classificationResult" rows="4" cols="40" style = "resize: none;"></textarea><br/><br/>
										<b>Threshold</b><br/>
										<input class = "form-control" type="number" ng-model = "Threshold" name="Threshold" min="0.01" max="1" step = "0.01" value = "{{Threshold}}" ng-disabled = "Training" /><br/>
										<input type="button" class="btn btn-outline-primary" value="Classify" ng-click="AsyncClassifier()" ng-disabled = "Training" /><br/><br/>
									</div>
								</div>
							</div>
							<br/>
						</div>
						<div class="tab-pane fade" id="pills-network" role="tabpanel" aria-labelledby="pills-netework-tab">
							<div class="container border border-secondary rounded">
								<b>Network Weights</b><br/>
								<textarea ng-model = "networkWeights" rows="10" cols="80" style = "resize: none;" readonly></textarea><br/><br/>
								<b>Input Normalization</b><br/><br/>
								<div class = "row">
									<div class = "col">
										<b>Minimum</b><br/>
										<input type = "text" class = "form-control" ng-model = "Network.Min" name="NetworkMin" value = "{{PrettyPrint(Network.Min)}}" readonly /><br/>
									</div>
									<div class = "col">
										<b>Maximum</b><br/>
										<input type = "text" class = "form-control" ng-model = "Network.Max" name="NetworkMax" value = "{{PrettyPrint(Network.Max)}}" readonly /><br/>
									</div>
								</div>
								<input type="button" class="btn btn-outline-primary" value="Save Network" ng-click="SaveNetwork()" ng-disabled = "Training" />&nbsp;<input type="button" class="btn btn-outline-success" value="Load Network" ng-click="LoadNetwork()" ng-disabled = "Training" />&nbsp;<input type="file" multiple name="files" networkfile-bind class="btn btn-outline-secondary" ng-disabled = "Training" /><br/><br/>
							</div>
							<br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
