<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="robots" content="noindex">
  <title>DeepLearningJS - Neural Networks</title>

	<script src="js/angular.min.js"></script>
	<script src="js/ng-webworker.min.js"></script>
	<script src="js/angular-file-saver.bundle.min.js"></script>
	<script src="js/d3.min.js"></script>
	<script src="js/NeuralNetwork.min.js"></script>
	<style>

	text {
	  pointer-events: none;
	}

	.link {
	  stroke: #999;
	  stroke-opacity: 0.6;
	}
	</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div ng-app="DeepLearning">
				<div ng-controller="NeuralNetworksController">
					<br/>
					<h2>Deep Neural Network Classifier</h2>
					<br/>
					<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					  <li class="nav-item">
						<a class="nav-link active" id="pills-data-tab" data-toggle="pill" href="#pills-data" role="tab" aria-controls="pills-data" aria-selected="true">Data</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-training-tab" data-toggle="pill" href="#pills-training" role="tab" aria-controls="pills-training" aria-selected="false">Training</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-classify-tab" data-toggle="pill" href="#pills-classify" role="tab" aria-controls="pills-classify" aria-selected="false">Classify</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-network-tab" data-toggle="pill" href="#pills-network" role="tab" aria-controls="pills-network" aria-selected="false">Network</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-graph-tab" data-toggle="pill" href="#pills-graph" role="tab" aria-controls="pills-graph" aria-selected="false">Graph</a>
					  </li>
  					  <li class="nav-item">
						<a class="nav-link" id="pills-plot-tab" data-toggle="pill" href="#pills-plot" role="tab" aria-controls="pills-plot" aria-selected="false">Plot</a>
					  </li>
  					  <li class="nav-item">
						<a class="nav-link" id="pills-guide-tab" data-toggle="pill" href="#pills-guide" role="tab" aria-controls="pills-guide" aria-selected="false">Guide</a>
					  </li>
					</ul>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">
							<div class="container border border-secondary rounded">
								<b>select file</b><br/>
								<input type="file" multiple name="files" input-bind class="btn btn-outline-secondary" ng-disabled = "Training" /><br/><br/>
								<b>delimiters</b><br/>
								<select class="form-control" ng-model="delimiter" data-ng-options="x for x in DelimiterNames" ng-change="SelectDelimiter()" ng-disabled = "Training"></select><br/>
								<input type="button" class="btn btn-outline-primary" value="Process data" ng-click="ReadTrainingData()" ng-disabled = "Training"/><br/><br/>
								<textarea ng-model = "fileContent" rows="4" cols="60" style = "resize: none;" readonly ></textarea>
								<br/><br/>
								<div class="{{Items == 0 && Inputs == 0 && Categories == 0 ? 'alert alert-danger' : 'alert alert-success' }}" role="alert">
									<span><b>Items</b>: {{Items}} <b>Input features</b>: {{Inputs}} <b>Categories</b>: {{Categories}}</span>
								</div>
							</div>
							<br/>
						</div>
						<div class="tab-pane fade" id="pills-training" role="tabpanel" aria-labelledby="pills-training-tab">
							<div class="container border border-secondary rounded">
								<div class="row">
									<div class="col-sm-3">
										<b>Hidden layers</b><br ng-show = "HiddenLayerNodes.length > 0"/><br/>
										<ul class="list-group">
											 <li class="list-group-item" ng-repeat="nodes in HiddenLayerNodes track by $index" class="">Layer {{$index + 1}} -> {{nodes}}<br/><input type="button" class = "btn btn-outline-danger" value = " remove " ng-click="RemoveHiddenLayer($index)" ng-disabled = "Training" /></li>
										</ul>
										<br/>
										<input type="button" class = "btn btn-outline-danger" value="Clear" ng-click="RemoveAllHiddenLayers()" ng-show = "HiddenLayerNodes.length > 0" ng-disabled = "Training"/>
										<br ng-show = "HiddenLayerNodes.length > 0"/><br ng-show = "HiddenLayerNodes.length > 0"/>
										<div>
											<b>Nodes</b>&nbsp;<input class = "form-control" type="number" ng-model = "hiddenLayerNodes" name="hiddenLayerNodes" min="2" max="1024" value = "{{hiddenLayerNodes}}" ng-disabled = "Training"/><br/>
											<input type="button" class = "btn btn-outline-success" value="add hidden layer" ng-click="AddHiddenLayer()" ng-disabled = "Training" />
										</div>
										<br/>
									</div>
									<div class="col-sm-3">
										<b>Learning rate (&alpha;)</b><br/>
										<input class = "form-control" type="number" ng-model = "LearningRate" name="LearningRate" min="0.01" max="10" step = "0.01" value = "{{LearningRate}}" ng-disabled = "Training" /><br/><br/>
										<b>Epochs</b><br/>
										<input class = "form-control" type="number" ng-model = "Epochs" name="Epochs" min="100" max="1000000" step = "100" value = "{{Epochs}}" ng-disabled = "Training" /><br/><br/>
										<b>Tolerance</b><br/>
										<input class = "form-control" type="number" ng-model = "Tolerance" name="Tolerance" min="0.00001" max="1" step = "0.00001" value = "{{Tolerance}}" ng-disabled = "Training" /><br/>
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="UseL2" ng-model = "UseL2" ng-checked = "UseL2" ng-disabled = "Training">
											<label class="custom-control-label" for="UseL2">Use L2 Error</label>
										</div>
										<br/>
									</div>
									<div class="col-sm-3">
										<br/>
										<progress class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" ng-show = "TrainingProgress > 0 && TrainingProgress < 1" value="{{TrainingProgress}}"></progress><br/ ng-show = "TrainingProgress > 0 && TrainingProgress < 1">
										<input type="button" class="btn btn-outline-primary" value="Train Network" ng-click="AsyncTrainer()" ng-disabled = "Training" ng-show = "!Training"/><br ng-show = "!Training"/><br ng-show = "!Training"/>
										<input ng-show = "Training" type="button" class="btn btn-outline-danger" value="Stop" ng-click="StopAsyncTrainer()" /><br ng-show = "Training"/><br ng-show = "Training"/>
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="UseOptimizer" ng-model = "UseOptimizer" ng-checked = "UseOptimizer" ng-disabled = "Training">
											<label class="custom-control-label" for="UseOptimizer">Use Optimizer</label>
										</div>
									</div>
									<div class="col-sm-3" ng-show = "TrainingProgress > 0.0">
										<b>Training Results</b><br/><br/>
										<b>Training Error</b><br/>
										<span>{{Network.Cost.toExponential(8)}}</span><br/><br/>
										<b>L2 Error</b><br/>
										<span>{{Network.L2.toExponential(8)}}</span><br/><br/>
										<b>Iterations</b><br/>
										<span>{{Network.Iterations}}</span><br/><br/>
									</div>
								</div>
							</div>
							<br/>
						</div>
						<div class="tab-pane fade" id="pills-classify" role="tabpanel" aria-labelledby="pills-classify-tab">
							<div class="container border border-secondary rounded">
								<b>select file</b><br/>
								<input type="file" multiple name="files" test-bind class="btn btn-outline-secondary" ng-disabled = "Training" /><br/><br/>
								<input type="button" class="btn btn-outline-primary" value="Process data" ng-click="ReadTestData()" ng-disabled = "Training"/><br/><br/>
								<div class = "row">
									<div class = "col-sm">
										<b>Test data</b><br/>
										<textarea ng-model = "testContent" rows="4" cols="60" style = "resize: none;" readonly></textarea>
										<br/><br/>
										<div class="{{Samples == 0 || Inputs == 0 ? 'alert alert-danger' : 'alert alert-success' }}" role="alert">
											<span><b>Samples</b>: {{Samples}} <b>Input features</b>: {{Inputs}}</span>
										</div>
									</div>
									<div class = "col-sm">
										<b>Classification</b><br/>
										<textarea ng-model = "classificationResult" rows="4" cols="40" style = "resize: none;"></textarea><br/><br/>
										<b>Threshold</b><br/>
										<input class = "form-control" type="number" ng-model = "Threshold" name="Threshold" min="0.01" max="1" step = "0.01" value = "{{Threshold}}" ng-disabled = "Training" /><br/>
										<input type="button" class="btn btn-outline-primary" value="Classify" ng-click="AsyncClassifier()" ng-disabled = "Training" /><br/><br/>
									</div>
								</div>
							</div>
							<br/>
						</div>
						<div class="tab-pane fade" id="pills-network" role="tabpanel" aria-labelledby="pills-netework-tab">
							<div class="container border border-secondary rounded">
								<b>Network Weights</b><br/>
								<textarea ng-model = "networkWeights" rows="10" cols="80" style = "resize: none;" readonly></textarea><br/><br/>
								<b>Input Normalization</b><br/><br/>
								<div class = "row">
									<div class = "col">
										<b>Minimum</b><br/>
										<input type = "text" class = "form-control" ng-model = "Network.Min" name="NetworkMin" value = "{{PrettyPrint(Network.Min)}}" readonly /><br/>
									</div>
									<div class = "col">
										<b>Maximum</b><br/>
										<input type = "text" class = "form-control" ng-model = "Network.Max" name="NetworkMax" value = "{{PrettyPrint(Network.Max)}}" readonly /><br/>
									</div>
								</div>
								<input type="button" class="btn btn-outline-primary" value="Save Network" ng-click="SaveNetwork()" ng-disabled = "Training" />&nbsp;<input type="button" class="btn btn-outline-success" value="Load Network" ng-click="LoadNetwork()" ng-disabled = "Training" />&nbsp;<input type="file" multiple name="files" network-bind class="btn btn-outline-secondary" ng-disabled = "Training" /><br/><br/>
							</div>
							<br/>
						</div>
						<div class="tab-pane fade" id="pills-graph" role="tabpanel" aria-labelledby="pills-graph-tab">
							<div class="container border border-secondary rounded">
								<br/>
								<div class = "row">
									<div class = "col">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="ToggleNodeText" ng-model = "ToggleNodeText" ng-checked = "ToggleNodeText" ng-disabled = "Training">
											<label class="custom-control-label" for="ToggleNodeText">Render node labels</label>
										</div>
										<br/><input type="button" class="btn btn-outline-primary" value="Render Network" ng-click="RenderNetwork()" ng-disabled = "Training" />&nbsp;<input type="button" class="btn btn-outline-success" value="Save Render" ng-click="SaveRender()" ng-disabled = "Training" /><br/><br/>
									</div>
								</div>
								<div class = "row">
									<div class = "col">
										<b>Width</b><br/>
										<input class = "form-control" type="number" ng-model = "Width" name="Width" min="256" max="1024" value = "{{Width}}" style = "width: 100px;" ng-disabled = "Training"/>
										<b>Height</b><br/>
										<input class = "form-control" type="number" ng-model = "Height" name="Height" min="256" max="1024" value = "{{Height}}" style = "width: 100px;" ng-disabled = "Training"/>
										<b>Node Size</b><br/>
										<input class = "form-control" type="number" ng-model = "NodeSize" name="NodeSize" min="20" max="100" value = "{{NodeSize}}" style = "width: 100px;" ng-disabled = "Training"/>
										<br/>
									</div>
								</div>
								<div class = "row">
									<svg id='viz'></svg><br/><br/>
								</div>
								<br/><br/>
							</div>
							<br/><br/>
						</div>
						<div class="tab-pane fade" id="pills-plot" role="tabpanel" aria-labelledby="pills-plot-tab">
							<div class="container border border-secondary rounded">
								<br/>
								<div class = "row">
									<div class = "col">
										<input type="button" class="btn btn-outline-primary" value="Render Test Data" ng-click="RenderTestData()" ng-disabled = "Training" />&nbsp;<input type="button" class="btn btn-outline-success" value="Save Render" ng-click="SaveRenderedData()" ng-disabled = "Training" /><br/><br/>
									</div>
								</div>
								<div class = "row">
									<div class = "col">
										<b>Width</b><br/>
										<input class = "form-control" type="number" ng-model = "PlotWidth" name="PlotWidth" min="640" max="1024" value = "{{PlotWidth}}" style = "width: 100px;" ng-disabled = "Training"/>
										<b>Height</b><br/>
										<input class = "form-control" type="number" ng-model = "PlotHeight" name="PlotHeight" min="640" max="1024" value = "{{PlotHeight}}" style = "width: 100px;" ng-disabled = "Training"/>
										<br/>
									</div>
								</div>
								<div class = "row">
									<svg id='plot'></svg><br/><br/>
								</div>
								<br/><br/>
							</div>
							<br/><br/>
						</div>
						<div class="tab-pane fade" id="pills-guide" role="tabpanel" aria-labelledby="pills-guide-tab">
							<div class="container border border-secondary rounded">
								<h2><b class = "text-primary">Data</b></h2>
								<p>Data is loaded from a text file. To begin, select the file by clicking on the "Browse" button and choose the file you want to process on the dialog window that appears. Select the delimiter type. Once a file is and the delimiter is selected, click on the "Process Data" button to begin the loading and processing of the training data.</p>
								<p>Each line in the file is a training example with one or more features followed by its the classification category. Each of these values are separated by a delimiter, e.g. tabs, spaces, commas, etc.</p>
								<div class = "alert-primary">
									<p class = "text-primary"><b>Example 1</b></p>
									<p class = "text-secondary"><b>0,1,1</b></p>
								</div>
								<p>In the above example, the line contains 3 values separated by a comma delimiter. This means that the training example has 2 features (0, 1) and its classification category is 1.</p>
								<div class = "alert-primary">
									<p class = "text-primary"><b>Example 2</b></p>
									<p class = "text-secondary"><b>8.55&nbsp;26.3&nbsp;2</b></p>
								</div>
								<p>Example 2 also has 2 features (8.55, 26.3) and a classification category of 2, separated by spaces</p>
								<p>If there are several examples provided in the text file, it will estimate the number of categories. If the text file loading and processing succeeded, the status indicator will look similar to the one below:</p>
								<div class="alert alert-success" role="alert">
									<span><b>Items</b>: 788 <b>Input features</b>: 2 <b>Categories</b>: 7</span>
								</div>
								<p>A failure in the loading and processing is also similarly indicated:</p>
								<div class="alert alert-danger" role="alert">
									<span><b>Items</b>: 0 <b>Input features</b>: 0 <b>Categories</b>: 0</span>
								</div>
								<p>Most loading and processing errors that occur are due to the mismatch between the chosen delimiter and the one used by the file.</p>
								<h2><b class = "text-primary">Training</b></h2>
								<p>The Training page is where the neural network is constructed. A neural network is composed of an input layer, one to several hidden layers, and an output layer. The input and output layers are automatically generated based on the data loaded in the previous page. To add a hidden layer, choose the number of input nodes and click on the "add hidden layer" button.</p>
								<b class = "text-primary">What is a reasonable number of hidden layers and nodes (per layer)?</b>
								<p>There is (still) no definitive or standard way to configure a neural network. A neural network with several hidden layers, e.g. > 3, with lots of neurons will generally take longer to train. Since inputs from previous layers are mapped into succeeding layers up to the final output layer, the number of nodes in each intermediate hidden layer should at least be equal to or greater than the number of input features. One resonabily sized hidden layer is often sufficient for most problems but you can also try experimenting until you find which conguration gives the best performance in terms of run times, classification accuracies, etc.</p>
								<b class = "text-primary">Epoch, Tolerance, Learning Rate, L2 Error</b>
								<p>These are all related to the Training's stop condition. Training stops when it has reached the maximum number of iterations (Epoch) or if the error or cost function is below the Tolerance level. Learning rate sets the speed at which the network "learns" or adapts each iteration.</p>
								<p>Two types of errors are computed, the cross-entropy error and the mean square error or simply, the L2 error. This web application uses the L2 by default.</p>
								<b class = "text-primary">Optimizer</b>
								<p>Access to a Nonlinear Conjugate Gradient optimizer is also provided. This is enabled by clicking on the "Use Optimizer" check box. When using an optimizer, the training generally converges much faster. However, at the moment the optimizer uses the cross-entropy error function regardless of whether L2 error is selected or not.</p>
								<h2><b class = "text-primary">Classify</b></h2>
								<p>Test data is also loaded from a text file similarly. Select the file by clicking on the "Browse" button and choose the file you want to process on the dialog window that appears. Click on the "Process data" to load the test data. Similar success or failure indicators are also shown based on the results of the loading process. Set the classification threshold and click on the "Classify" button to classify the loaded test data. The threshold value indicates the minimum prediction score required to classify one sample into a specific category.</p>
								<h2><b class = "text-primary">Network</b></h2>
								<p>Trained neural network parameters are viewable in this page. You can also save or load these trained network parameters to/from a JSON file. This JSON file is fully compatible with the <a href = "https://github.com/daelsepara/DeepNeuralNetworkClassifier" target = _blank >Deep Neural Network Classifier</a> software and can be used interchangeably with that program.</p>
								<h2><b class = "text-primary">Graph</b></h2>
								<p>View the current neural network architecture or save it as a scalable vector graphics (SVG) file.</p>
								<h2><b class = "text-primary">Plot</b></h2>
								<p>Plot the classified test data or save it as a scalable vector graphics (SVG) file.</p>
							</div>
							<br/><br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script>
	(function () {

		// see: https://www.michalspacek.com/using-javascript-to-modify-urls-and-hide-fbclid
		
		var param = 'fbclid';
	
		if (location.search.indexOf(param + '=') !== -1) {
		
			var replace = '';
		
			try {
		
				var url = new URL(location);
				url.searchParams.delete(param);
				replace = url.href;
		
			} catch (ex) {

				var regExp = new RegExp('[?&]' + param + '=.*$');
				replace = location.search.replace(regExp, '');
				replace = location.pathname + replace + location.hash;
			}
		
			history.replaceState(null, '', replace);
    	}
	})();
	</script>
</body>
</html>
